Repository neville-nazerane/smarthub: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android.yaml, pipelines/backup-function-deploy.yaml, pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

Path conditions:
  pipelines/android.yaml: any of: src/SmartHub.MobileApp, src/SmartHub.Models
  pipelines/backup-function-deploy.yaml: any of: src/SmartHub.BackupAzureFunctions
  pipelines/web-deploy.yaml: any of: src
  pipelines/worker-deploy.yaml: any of: src/SmartHub.BackgroundWorker, src/SmartHub.Models, src/SmartHub.Logic

volume control
  src/SmartHub.Website/Pages/Index.razor
  src/SmartHub.Website/Pages/Index.razor.cs
Due: pipelines/web-deploy.yaml

volumes
  src/SmartHub.Website/Pages/Index.razor
  src/SmartHub.Website/Pages/Index.razor.cs
Due: pipelines/web-deploy.yaml

clean volume
  src/SmartHub.Website/Pages/Index.razor
Due: pipelines/web-deploy.yaml

rewind forward
  src/SmartHub.Website/Pages/Index.razor
  src/SmartHub.Website/Pages/Index.razor.cs
Due: pipelines/web-deploy.yaml

stop stuff
  src/SmartHub.Website/Pages/Index.razor
  src/SmartHub.Website/Pages/Index.razor.cs
Due: pipelines/web-deploy.yaml

clicking PC button
  src/SmartHub.Constants/DeviceConstants.cs
  src/SmartHub.Logic/HueService.cs
  src/SmartHub.Logic/SmartHub.Logic.csproj
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

can control API
  src/SmartHub.Logic/AutomationService.cs
  src/SmartHub.Logic/EventService.cs
  src/SmartHub.Logic/SmartLogic.cs
  src/TriggerToLan.groovy
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

dynamic fan speed changes
  src/SmartHub.Constants/DeviceConstants.cs
  src/SmartHub.Logic/SmartLogic.cs
  src/TriggerToLan.groovy
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

using ghost id
  src/SmartHub.Constants/DeviceConstants.cs
  src/SmartHub.Logic/SmartLogic.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

ignore multiple fan requests in a second
  src/SmartHub.Logic/SmartLogic.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

interval to 2 sec
  src/SmartHub.Logic/SmartLogic.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

testing code!!
  src/SmartHub.Logic/SmartLogic.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

updated the url
  src/SmartHub.Logic/SmartLogic.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

stopped testing webhook
  src/SmartHub.Logic/SmartLogic.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

updated to new constant
  src/SmartHub.Constants/DeviceConstants.cs
Due: pipelines/web-deploy.yaml

5 min closet killer
  src/Smart Hub.sln
  src/SmartHub.Constants/DeviceConstants.cs
  src/SmartHub.Logic/ServiceExtensions.cs
  src/SmartHub.Models/Hue/HueEvent.cs
  src/SmartHub.Models/JsonHandlers/HueOnJsonHandler.cs
  src/SmartHub.SmartBackgroundWorker/Program.cs
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
  src/SmartHub.SmartBackgroundWorker/Services/SmartyPants.cs
  src/SmartHub.SmartBackgroundWorker/Utils/MinuiteProcessor.cs
  src/SmartHub.SmartBackgroundWorker/Utils/SettingsUtil.cs
  src/SmartHub.SmartBackgroundWorker/Utils/SystemExtensions.cs
  src/SmartHub.SmartBackgroundWorker/Workers/HueWorker.cs
  src/SmartHub.SmartBackgroundWorker/Workers/MinuteWorker.cs
  src/SmartHub.SmartBackgroundWorker/Workers/SmartWorker.cs
Due: pipelines/android.yaml, pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

closet motion
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
Due: pipelines/web-deploy.yaml

dimmer to fan logic!
  pipelines/config-template.yml
  src/SmartHub.Constants/DeviceConstants.cs
  src/SmartHub.Logic/BondClient.cs
  src/SmartHub.Logic/InternalModels/BondArgument.cs
  src/SmartHub.Logic/InternalModels/BondState.cs
  src/SmartHub.Logic/ServiceExtensions.cs
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
  src/SmartHub.WebApp/Endpoints/HueEndpoints.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

hue automation begins
  src/SmartHub.Constants/DeviceConstants.cs
  src/SmartHub.Consumer/RaspberryClient.cs
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
  src/SmartHub.WebApp/Endpoints/BondEndpoints.cs
  src/SmartHub.WebApp/Startup.cs
  src/SmartHub.Website/Pages/Index.razor.cs
Due: pipelines/web-deploy.yaml

using bond for fan speeds
  src/SmartHub.Consumer/RaspberryClient.cs
  src/SmartHub.WebApp/Endpoints/BondEndpoints.cs
  src/SmartHub.Website/Pages/Index.razor.cs
Due: pipelines/web-deploy.yaml

scene table!
  src/SmartHub.DbMigrator/Migrations/20220806025643_Scenes.Designer.cs
  src/SmartHub.DbMigrator/Migrations/20220806025643_Scenes.cs
  src/SmartHub.Logic/Data/AppDbContext.cs
  src/SmartHub.Models/Entities/SceneState.cs
Due: pipelines/android.yaml, pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

scenes crud
  src/SmartHub.Consumer/RaspberryClient.cs
  src/SmartHub.Logic/ScenesRepo.cs
  src/SmartHub.Logic/ServiceExtensions.cs
  src/SmartHub.Models/Entities/SceneState.cs
  src/SmartHub.WebApp/Endpoints/SceneEndpoints.cs
  src/SmartHub.Website/Pages/Scenes.razor
  src/SmartHub.Website/Pages/Scenes.razor.cs
  src/SmartHub.Website/Shared/NavMenu.razor
Due: pipelines/android.yaml, pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

fixed scenes
  src/SmartHub.Logic/ScenesService.cs
  src/SmartHub.Logic/ServiceExtensions.cs
  src/SmartHub.WebApp/Endpoints/SceneEndpoints.cs
  src/SmartHub.WebApp/Startup.cs
  src/SmartHub.Website/Shared/NavMenu.razor
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

fixed inject
  src/SmartHub.Logic/BondClient.cs
  src/SmartHub.Logic/ScenesService.cs
  src/SmartHub.Website/Pages/Scenes.razor.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

null check
  src/SmartHub.Website/Pages/Scenes.razor
Due: pipelines/web-deploy.yaml

scene triggers
  src/SmartHub.Constants/SceneConstants.cs
  src/SmartHub.Logic/ScenesService.cs
  src/SmartHub.WebApp/Startup.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

web clean up
  src/SmartHub.WebApp/Program.cs
  src/SmartHub.WebApp/Startup.cs
Due: pipelines/web-deploy.yaml

fixed scenes execution
  src/SmartHub.Logic/ScenesService.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

button clicks configured
  src/SmartHub.Constants/DeviceConstants.cs
  src/SmartHub.Logic/BondClient.cs
  src/SmartHub.Logic/ScenesService.cs
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

scene swap
  src/SmartHub.Logic/ScenesService.cs
  src/SmartHub.Website/Pages/Scenes.razor.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

patched up release logic
  src/SmartHub.Logic/ScenesService.cs
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
  src/SmartHub.SmartBackgroundWorker/Workers/HueWorker.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

suppress touching scenes
  src/SmartHub.Logic/ScenesService.cs
  src/SmartHub.Website/Pages/Scenes.razor.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

removing suppressing
  src/SmartHub.Logic/ScenesService.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

forced blazor logic
  src/SmartHub.Website/Pages/Scenes.razor.cs
Due: pipelines/web-deploy.yaml

ignore double enables
  src/SmartHub.Logic/ScenesService.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

initialized db
  src/SmartHub.SmartBackgroundWorker/Workers/HueWorker.cs
Due: pipelines/web-deploy.yaml

hue control
  src/SmartHub.Constants/DeviceConstants.cs
  src/SmartHub.Consumer/RaspberryClient.cs
  src/SmartHub.SmartBackgroundWorker/Program.cs
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
  src/SmartHub.SmartBackgroundWorker/Workers/HueWorker.cs
  src/SmartHub.WebApp/Endpoints/HueEndpoints.cs
  src/SmartHub.Website/Pages/Hue.razor
  src/SmartHub.Website/Pages/Hue.razor.cs
  src/SmartHub.Website/Properties/launchSettings.json
  src/SmartHub.Website/Shared/NavMenu.razor
Due: pipelines/web-deploy.yaml

lil fixes
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
Due: pipelines/web-deploy.yaml

added new light
  src/SmartHub.Constants/DeviceConstants.cs
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
Due: pipelines/web-deploy.yaml
