Repository neville-nazerane/smarthub: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android.yaml, pipelines/backup-function-deploy.yaml, pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

Path conditions:
  pipelines/android.yaml: any of: src/SmartHub.MobileApp, src/SmartHub.Models
  pipelines/backup-function-deploy.yaml: any of: src/SmartHub.BackupAzureFunctions
  pipelines/web-deploy.yaml: any of: src
  pipelines/worker-deploy.yaml: any of: src/SmartHub.BackgroundWorker, src/SmartHub.Models, src/SmartHub.Logic

clean up
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
Due: pipelines/web-deploy.yaml

adding new lights to hue page
  src/SmartHub.Constants/DeviceConstants.cs
  src/SmartHub.Logic/ScenesService.cs
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
  src/SmartHub.Website/Pages/Hue.razor
  src/SmartHub.Website/Pages/Hue.razor.cs
  src/SmartHub.Website/Shared/NavMenu.razor
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

calling all in parts
  src/SmartHub.Website/Pages/Hue.razor.cs
Due: pipelines/web-deploy.yaml

light endpoints
  src/SmartHub.WebApp/Endpoints/BondEndpoints.cs
Due: pipelines/web-deploy.yaml

bedroom lights!!
  src/SmartHub.Consumer/RaspberryClient.cs
  src/SmartHub.Website/Pages/Hue.razor
  src/SmartHub.Website/Pages/Hue.razor.cs
  src/SmartHub.Website/Shared/NavMenu.razor
Due: pipelines/web-deploy.yaml

hue sync worker
  src/SmartHub.Logic/HueSyncClient.cs
  src/SmartHub.Logic/ServiceExtensions.cs
  src/SmartHub.Models/HueSync/ExecutionRequest.cs
  src/SmartHub.Models/HueSync/ExecutionResult.cs
  src/SmartHub.SmartBackgroundWorker/Program.cs
  src/SmartHub.SmartBackgroundWorker/Services/HueSyncProcess.cs
  src/SmartHub.SmartBackgroundWorker/Workers/HueSyncWorker.cs
Due: pipelines/android.yaml, pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

clean up
  src/SmartHub.Logic/HueSyncClient.cs
Due: pipelines/web-deploy.yaml, pipelines/worker-deploy.yaml

configs setup
  pipelines/config-template.yml
Due: none

using conditional
  src/SmartHub.SmartBackgroundWorker/Services/HueSyncProcess.cs
Due: pipelines/web-deploy.yaml

disable hue automations
  src/SmartHub.SmartBackgroundWorker/Services/HueProcessor.cs
Due: pipelines/web-deploy.yaml

stopping hue updater
  src/SmartHub.SmartBackgroundWorker/Services/HueSyncProcess.cs
Due: pipelines/web-deploy.yaml
